<!-- <ion-header>
  <ion-toolbar>
    <ion-title>Fast</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="pos1" style="max-width: 75%; max-height: 75%;">
    <circle-progress
    [percent]="percent"
    [radius]="85"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="2"
    [outerStrokeColor]="'#C7E596'"
    [backgroundStroke] ="'#C7E596'"
    [innerStrokeColor]="'#C7E596'"
    [animation]="false"
    [animationDuration]="300"
    [showInnerStroke] = "true"
    [showZeroOuterStroke] = "false"
    ></circle-progress>
    <ion-fab-button (click) = "startTime()" class="pos2">
      <ion-icon [name]="isPlay ? 'pause' : 'play'"></ion-icon>
    </ion-fab-button>
    <ion-fab-button (click) = "resetTime()" class="pos3">
      <ion-icon name="square"></ion-icon>
    </ion-fab-button>
  </div>
</ion-content> -->

<ion-header>
  <ion-toolbar>
    <ion-title>Fast</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content> 
  <ion-card style="background-color: lightgray;" *ngFor = "let fast of fasts"> 
    <ion-card-header>
      <ion-card-title style="font-size: 1rem;">{{ fast.title }}</ion-card-title>
      <ion-card-subtitle>{{ fast.description }}</ion-card-subtitle>
    </ion-card-header>
  </ion-card>
  
</ion-content>

