<ion-header>
  <ion-toolbar>
    <ion-icon (click)="closeModal()" name="arrow-round-back" style="zoom: 3.0;"></ion-icon>
    <ion-title>Nutritional Info</ion-title>
    <ion-icon (click)="logInfo()" name="add" style="zoom: 3.0; float: right;"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Date</ion-label>
    <ion-datetime [(ngModel)]="logDate" displayFormat="MM DD YY" placeholder="Select Date"></ion-datetime>
  </ion-item>
  <ion-item>
    <ion-label>Time</ion-label>
    <ion-datetime [(ngModel)]="logTime" display-format="h:mm A" picker-format="h:mm A" placeholder="Choose Time"></ion-datetime>
  </ion-item>
  <ion-item>
    <ion-input [(ngModel)]="logFood" placeholder="Enter Food"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input [(ngModel)]="logQty" type="number" placeholder="0"></ion-input>
    <ion-select [(ngModel)]="unit" placeholder="Unit">
      <ion-select-option value="g">g</ion-select-option>
      <ion-select-option value="oz">oz</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-input [ngModel]="logCalories" disabled placeholder="0 Calories"></ion-input>
  </ion-item>

</ion-content>
