<ion-header>
  <ion-toolbar>
    <ion-title>History</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item style="background-color: lightgray; height:13.5%;" *ngFor="let c of completedFasts">
      <!-- <ion-card-header>
      <ion-card-title style="font-size: 1rem;">{{ c.getDetails().fast.getTitle() }}</ion-card-title>
      <ion-card-subtitle>{{ c.fastStartTime }}</ion-card-subtitle>
    </ion-card-header> -->
      <ion-label>
        <h2>{{ c.getDetails().fast.getTitle() }}</h2>
        <h3>{{ c.fastStartTime | dateFormat }}</h3>
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>