<ion-header translucent>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
    <ion-list lines="full" class="ion-no-margin ion-no-padding">
      <ion-item>
        <ion-label position="stacked">Username <ion-text color="danger">*</ion-text></ion-label>
        <ion-input [(ngModel)] = "loginUsername" required type="text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Password <ion-text color="danger">*</ion-text></ion-label>
        <ion-input [(ngModel)] = "loginPassword" required type="password"></ion-input>
      </ion-item>
    </ion-list>
    <div class="ion-padding">
      <ion-button (click)="login()" expand="block" type="submit" class="ion-no-margin">Login</ion-button>
    </div>
</ion-content>