<ion-header>
  <ion-toolbar>
    <ion-icon (click)="closeModal()" name="arrow-round-back" style="zoom: 3.0;"></ion-icon>
    <ion-title>Custom Fast</ion-title>
    <ion-icon (click)="addCustomFast()" name="checkmark" style="zoom: 3.0; float: right;"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Fast Duration</ion-label>
    <ion-datetime [(ngModel)]="fastDuration" display-format="H:mm" picker-format="H:mm" placeholder="Set Duration"></ion-datetime>
  </ion-item>
  <ion-item>
    <ion-label>Title</ion-label>
    <ion-input class="ion-text-end" [(ngModel)]="fastTitle" placeholder="Fast Title" maxlength="10"></ion-input>
  </ion-item>
  <ion-item lines="none">
    <ion-label>Description</ion-label>
  </ion-item>
  <ion-item>
    <ion-textarea  [(ngModel)] = "fastDescription" placeholder="Enter more information here..." maxlength="82"></ion-textarea>
  </ion-item>
</ion-content>
