<ion-content>
  <ion-slides (ionSlideDidChange)="didChange()" pager="false" #slides>
    <ion-slide>
      <ion-header>
        <ion-toolbar>
          <ion-icon (click)="previousDate()" name="arrow-round-back" style="zoom: 3.0; float: left;"></ion-icon>
          <ion-title>
            {{ previousTitle }}
          </ion-title>
          <ion-icon (click)="nextDate()" name="arrow-round-forward" style="zoom: 3.0; float: right;"></ion-icon>
        </ion-toolbar>
      </ion-header>
      <ion-list *ngFor="let l of previousFilteredFoodLogs">
        <ion-item (click)="openActionSheet($event, l.date)">
          <ion-label class="ion-text-wrap">
            <h2>{{ l.food }}</h2>
            <h3>{{ l.cal + " calories"}}</h3>
            <h3>{{ l.qty + " " + l.unit}}</h3>
            <h3>{{"Time: " + l.formattedTime }}</h3>
            <p>{{"Date: " }} {{ l.date.getMonth() + 1}}/{{ l.date.getDate() +  "/" + l.date.getFullYear() }}</p>
          </ion-label>  
        </ion-item>
      </ion-list>
      <div style="position: fixed; bottom: 0; width: 100%;">
        <ion-fab-button (click)="openModal()" style="margin: 0 auto;">
          <ion-icon name="add"></ion-icon>
        </ion-fab-button>
      </div>
    </ion-slide>

    <ion-slide>
      <ion-header>
        <ion-toolbar>
          <ion-icon (click)="previousDate()" name="arrow-round-back" style="zoom: 3.0; float: left;"></ion-icon>
          <ion-title>
            {{ title }}
          </ion-title>
          <ion-icon (click)="nextDate()" name="arrow-round-forward" style="zoom: 3.0; float: right;"></ion-icon>
        </ion-toolbar>
      </ion-header>
      <ion-list *ngFor="let l of filteredFoodLogs">
        <ion-item (click)="openActionSheet($event, l.date)">
          <ion-label class="ion-text-wrap">
            <h2>{{ l.food }}</h2>
            <h3>{{ l.cal + " calories"}}</h3>
            <h3>{{ l.qty + " " + l.unit}}</h3>
            <h3>{{"Time: " + l.formattedTime }}</h3>
            <p>{{"Date: " }} {{ l.date.getMonth() + 1}}/{{ l.date.getDate() +  "/" + l.date.getFullYear() }}</p>
          </ion-label>  
        </ion-item>
      </ion-list>
      <div style="position: fixed; bottom: 0; width: 100%;">
        <ion-fab-button (click)="openModal()" style="margin: 0 auto;">
          <ion-icon name="add"></ion-icon>
        </ion-fab-button>
      </div>
    </ion-slide>

    <ion-slide>
      <ion-header>
        <ion-toolbar>
          <ion-icon (click)="previousDate()" name="arrow-round-back" style="zoom: 3.0; float: left;"></ion-icon>
          <ion-title>
            {{ nextTitle }}
          </ion-title>
          <ion-icon (click)="nextDate()" name="arrow-round-forward" style="zoom: 3.0; float: right;"></ion-icon>
        </ion-toolbar>
      </ion-header>
      <ion-list *ngFor="let l of nextFilteredFoodLogs">
        <ion-item (click)="openActionSheet($event, l.date)">
          <ion-label class="ion-text-wrap">
            <h2>{{ l.food }}</h2>
            <h3>{{ l.cal + " calories"}}</h3>
            <h3>{{ l.qty + " " + l.unit}}</h3>
            <h3>{{"Time: " + l.formattedTime }}</h3>
            <p>{{"Date: " }} {{ l.date.getMonth() + 1}}/{{ l.date.getDate() +  "/" + l.date.getFullYear() }}</p>
          </ion-label>  
        </ion-item>
      </ion-list>
      <div style="position: fixed; bottom: 0; width: 100%;">
        <ion-fab-button (click)="openModal()" style="margin: 0 auto;">
          <ion-icon name="add"></ion-icon>
        </ion-fab-button>
      </div>
    </ion-slide>
  </ion-slides>
</ion-content>