<ion-header>
  <ion-toolbar>
    <ion-icon (click)="closeModal()" name="arrow-round-back" style="zoom: 3.0;"></ion-icon>
    <ion-title>Change Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="full" class="ion-no-margin ion-no-padding">
    <ion-item>
      <ion-label position="stacked">Current Password<ion-text color="danger">*</ion-text></ion-label>
      <ion-input readonly=true required type="text" style="color:gray">{{ currentPassword }}</ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">New Password <ion-text color="danger">*</ion-text></ion-label>
      <ion-input [(ngModel)] = "newPassword" required type="text"></ion-input>
    </ion-item>
  </ion-list>
  <div class="ion-padding">
    <ion-button (click)="changePassword()" expand="block" type="button" class="ion-no-margin" color="danger">Change Password</ion-button>
  </div>
</ion-content>
